@use "../global/mixin" as m;
@use "../global/valiables" as v;

.l- {
    &header {
        position: fixed;
        // top: 234px;
        top: 50%;
        left: 3.785%;
        transform: translateY(-50%);
        z-index: 100;

        display: inline-block;

        &__inner {
            display: inline-block;
        }

        &__sns {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            row-gap: 9px;

            &Title {
                img {
                    -webkit-user-drag: none;
                }
            }

            &Logo {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                row-gap: 12px;

                &Item {
                    @include m.hover01;
                }
            }
        }
    }
}