.l- {
    &main {
        width: 100vw;

        background: #fff;

        overflow: hidden;

        &__inner {
            width: 100%;
            height: auto;

            margin: 0 auto;
        }
    }
}