@use "../global/mixin" as m;
@use "../global/valiables" as v;

.l- {
    &main {
        width: 100vw;

        background: v.$white01;

        overflow: hidden;

        &__inner {
            width: 100%;
            height: auto;

            margin: 0 auto;
        }
    }
}