@use "./valiables" as v;

// breakpoint
@mixin breakpointSp {
  @media screen and (max-width: (v.$sp)) {
    @content;
  }
}
@mixin breakpointTab {
  @media screen and (max-width: (v.$tab)) {
    @content;
  }
}
@mixin breakpointPc-tab {
  @media screen and (min-width: (v.$pc-tab)) {
    @content;
  }
}
@mixin breakpointPc-only {
  @media screen and (min-width: (v.$pc-only)) {
    @content;
  }
}
@mixin breakpointTab-only {
  @media screen and (min-width: (v.$pc-tab)) and (max-width: (v.$pc-only)) {
    @content;
  }
}

// img
@mixin img100 {
  img {
    width: 100%;
    height: auto;
  }
}

// hover
@mixin hover01 {
  transition: opacity v.$transition01;

  &:hover {
    opacity: v.$opacity01;
  }
}

@mixin hover02 {
  transition: opacity v.$transition02;

  &:hover {
    opacity: v.$opacity02;
  }
}

// font
@mixin fontSet01 {
  font-family: v.$font-famiry-sans-serif01;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 2.2;
  letter-spacing: 0.1em;
  color: v.$black01;
}

@mixin fontSet02 {
  font-family: v.$font-famiry-sans-serif01;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.6;
  letter-spacing: -0.05em;
  color: v.$black01;
}