@use "./valiables" as v;

// breakpoint
$breakpoints: (
  "sp": "screen and (max-width: 599px)",
  "tab": "screen and (max-width: 1023px)",
  "pc-tab": "screen and (min-width: 600px)",
  "pc-only": "screen and (min-width: 1024px)",
  "tab-only": "screen and (min-width: 600px) and (max-width: 1023px)",
);

// img
@mixin img100 {
  img {
    width: 100%;
    height: auto;
  }
}

// hover
@mixin hover01 {
  transition: opacity v.$transition01;
  &:hover {
    opacity: v.$opacity01;
  }
}

@mixin hover02 {
  transition: opacity v.$transition02;
  &:hover {
    opacity: v.$opacity02;
  }
}

// font
@mixin fontSet01 {
	font-family: v.$font-famiry-sans-serif01;
	font-size: 1.6rem;
	font-weight: 300;
	line-height: 2.2em;
  letter-spacing: 0.1em;
	color: v.$black01;
}

@mixin fontSet02 {
	font-family: v.$font-famiry-sans-serif01;
	font-size: 1.2rem;
	font-weight: 300;
	line-height: 1.6;
  letter-spacing: -0.05em;
	color: v.$black01;
}