// color
$black01: #000;
$gray01: #7f7f7f;
$gray02: #808080;
$gray03: #F3F3F3;
$white02: #fff;
$lightblue01: #cfefff;
$lightblue02: #90d4ff;
$lightblue03: #e8f7ff;

// transition
$transition01: .2s;

// opacity
$opacity01: .7;


// font-family
// @font-face {
//     font-family: KouburinaGoStd;
//     src: url(../fonts/こぶりなゴシック\ Std\ W3.otf) format('opentype');
// }
// font-family: 'KouburinaGoStd', sans-serif;
$font-famiry-sans-serif01: "Koburina Gothic W3 JIS2004", sans-serif;
// $font-famiry-sans-serif01: 'noto sans jp', sans-serif;
// $font-famiry-sans-serif01: 'BIZ UDPGothic', sans-serif;
// $font-famiry-sans-serif01: 'Sawarabi Gothic', sans-serif;

// font-size
$font-size01: 1.0rem;
$font-size02: 1.2rem;
$font-size03: 1.6rem;
$font-size04: 1.8rem;
$font-size05: 2.4rem;
$font-size06: 3.0rem;
$font-size07: 3.6rem;


