// breakpoint
$breakpoints: (
    "sp": "screen and (max-width: 599px)",
    "tab": "screen and (max-width: 1023px)",
    "pc-tab": "screen and (min-width: 600px)",
    "pc-only": "screen and (min-width: 1024px)",
    "tab-only": "screen and (min-width: 600px) and (max-width: 1023px)",
);

$sp: 599px;
$tab: 1023px;
$pc-tab: 600px;
$pc-only: 1024px;

// color
$black01: #000;
$gray01: #7f7f7f;
$gray02: #808080;
$gray03: #F3F3F3;
$gray04: #717171;
$white01: #fff;
$lightblue01: #cfefff;
$lightblue02: #90d4ff;
$lightblue03: #e8f7ff;
$lightblue04: #d5f6ff;

// transition
$transition01: .2s;
$transition02: 0.35s;

// opacity
$opacity01: .7;
$opacity02: 0;


// font-family
// @font-face {
//     font-family: KouburinaGoStd;
//     src: url(../fonts/こぶりなゴシック\ Std\ W3.otf) format('opentype');
// }
// font-family: 'KouburinaGoStd', sans-serif;
// $font-famiry-sans-serif01: "Koburina Gothic W3 JIS2004", sans-serif;
$font-famiry-sans-serif01: 'noto sans jp', sans-serif;
// $font-famiry-sans-serif01: 'BIZ UDPGothic', sans-serif;
// $font-famiry-sans-serif01: 'Sawarabi Gothic', sans-serif;

// font-size
$font-size01: 1.0rem;
$font-size02: 1.2rem;
$font-size03: 1.4rem;
$font-size04: 1.6rem;
$font-size05: 1.8rem;
$font-size06: 2.4rem;
$font-size07: 3.0rem;
$font-size08: 3.6rem;