@charset 'UTF-8';

/* Slider */
.slick-loading .slick-list {
    // background: #fff url('./ajax-loader.gif') center center no-repeat;
    background: #fff url('../img/fonts/ajax-loader.gif') center center no-repeat;
}

/* Icons */
@font-face {
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

    // src: url('./fonts/slick.eot');
    src: url('../img/fonts/slick.eot');
    // src: url('./fonts/slick.eot?#iefix') format('embedded-opentype'), url('./fonts/slick.woff') format('woff'), url('./fonts/slick.ttf') format('truetype'), url('./fonts/slick.svg#slick') format('svg');
    src: url('../img/fonts/slick.eot?#iefix') format('embedded-opentype'), url('../img/fonts/slick.woff') format('woff'), url('../img/fonts/slick.ttf') format('truetype'), url('../img/fonts/slick.svg#slick') format('svg');
}

/* Arrows */
.slick-arrow:before {
    content: "" !important;
    width: 100% !important;
    height: 100% !important;
    position: absolute;
    top: 0;
    left: 0;
}

.slick-next:before {
    background: url(../img/top/step_arrow_prev.png) no-repeat !important;
    background-size: contain !important;
}

.slick-prev:before {
    background: url(../img/top/step_arrow_next.png) no-repeat !important;
    background-size: contain !important;
}

.slick-arrow {
    z-index: 2 !important;
    // width: 26px !important;
    // height: 51px !important;
    width: 2.5545% !important;
    height: 15.502% !important;
}

.slick-next {
    // top: 170px  !important;
    // right: 45px !important;
    top: 52%  !important;
    right: 4% !important;
}

.slick-prev {
    // top: 170px  !important;
    // left: 45px !important;
    top: 52%  !important;
    left: 4% !important;
}

.slick-arrow:before {
    opacity: 1 !important;
}

.slick-prev,
.slick-next {
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
    color: transparent;
    outline: none;
    background: transparent;
}

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
    opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
    opacity: .25;
}

.slick-prev:before,
.slick-next:before {
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;

    opacity: .75;
    color: white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
    left: -25px;
}

[dir='rtl'] .slick-prev {
    right: -25px;
    left: auto;
}

.slick-prev:before {
    content: '←';
}

[dir='rtl'] .slick-prev:before {
    content: '→';
}

.slick-next {
    right: -25px;
}

[dir='rtl'] .slick-next {
    right: auto;
    left: -25px;
}

.slick-next:before {
    content: '→';
}

[dir='rtl'] .slick-next:before {
    content: '←';
}

/* Dots */
.slick-dots li:nth-of-type(1) button:before {
    background: url("../img/top/step_dot_01_w.png") no-repeat;
    background-size: contain !important;
}

.slick-dots li:nth-of-type(2) button:before {
    background: url("../img/top/step_dot_02_w.png") no-repeat;
    background-size: contain !important;
}

.slick-dots li:nth-of-type(3) button:before {
    background: url("../img/top/step_dot_03_w.png") no-repeat;
    background-size: contain !important;
}

.slick-dots li:nth-of-type(4) button:before {
    background: url("../img/top/step_dot_04_w.png") no-repeat;
    background-size: contain !important;
}

.slick-dots li:nth-of-type(1) button:hover,
.slick-dots li:nth-of-type(1) button:focus {
    background: url("../img/top/step_dot_01_y.png") no-repeat;
    background-size: contain !important;
}
.slick-dots li:nth-of-type(2) button:hover,
.slick-dots li:nth-of-type(2) button:focus {
    background: url("../img/top/step_dot_02_y.png") no-repeat;
    background-size: contain !important;
}
.slick-dots li:nth-of-type(3) button:hover,
.slick-dots li:nth-of-type(3) button:focus {
    background: url("../img/top/step_dot_03_y.png") no-repeat;
    background-size: contain !important;
}
.slick-dots li:nth-of-type(4) button:hover,
.slick-dots li:nth-of-type(4) button:focus {
    background: url("../img/top/step_dot_04_y.png") no-repeat;
    background-size: contain !important;
}

.slick-dots li:nth-of-type(1) button:hover:before,
.slick-dots li:nth-of-type(1) button:focus:before {
    background: url("../img/top/step_dot_01_y.png") no-repeat;
    background-size: contain !important;
}
.slick-dots li:nth-of-type(2) button:hover:before,
.slick-dots li:nth-of-type(2) button:focus:before {
    background: url("../img/top/step_dot_02_y.png") no-repeat;
    background-size: contain !important;
}
.slick-dots li:nth-of-type(3) button:hover:before,
.slick-dots li:nth-of-type(3) button:focus:before {
    background: url("../img/top/step_dot_03_y.png") no-repeat;
    background-size: contain !important;
}
.slick-dots li:nth-of-type(4) button:hover:before,
.slick-dots li:nth-of-type(4) button:focus:before {
    background: url("../img/top/step_dot_04_y.png") no-repeat;
    background-size: contain !important;
}

.slick-dots li:nth-of-type(1).slick-active button:before{
    background: url("../img/top/step_dot_01_y.png") no-repeat;
    background-size: contain !important;
}
.slick-dots li:nth-of-type(2).slick-active button:before{
    background: url("../img/top/step_dot_02_y.png") no-repeat;
    background-size: contain !important;
}
.slick-dots li:nth-of-type(3).slick-active button:before{
    background: url("../img/top/step_dot_03_y.png") no-repeat;
    background-size: contain !important;
}
.slick-dots li:nth-of-type(4).slick-active button:before{
    background: url("../img/top/step_dot_04_y.png") no-repeat;
    background-size: contain !important;
}

.slick-dots li button:before {
    content: '' !important;
    height: 100% !important;
    width: 100% !important;
}

.slick-dots li {
    width: 34px !important;
    height: 34px !important;
    margin: 0 1.5% !important;
}
.slick-dots li button {
    width: 100% !important;
    height: 100% !important;
}

.slick-dotted.slick-slider {
    margin-bottom: 30px;
}

.slick-dots {
    position: absolute;
    // bottom: -25px;
    bottom: -20%;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}
@media screen and (max-width: 749px) {
    .slick-dots {
        bottom: -8%;
    }
}

.slick-dots li {
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}

.slick-dots li button {
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}

.slick-dots li button:hover,
.slick-dots li button:focus {
    outline: none;
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
    opacity: 1;
}

.slick-dots li button:before {
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '•';
    text-align: center;

    // opacity: .25;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
    // opacity: .75;
    color: black;
}